.env
# Ignore PyTorch model files
*.pt
*.pth

# Ignore video files
*.mp4
*.avi
*.mov

# Ignore image files
*.jpeg
*.jpg
*.png
*.gif
*.json

# Data folder
all_frames/
detections/
data/
dataset_splits/
results_test/
# Models
*.torch
train_sam2/model.torch
# Exception: Track image files in data folder
# !data/**/*.jpeg
# !data/**/*.jpg
# !data/**/*.png

# Exception: Track the results directory and its contents
!gitignore_exception/**/*.jpg
!gitignore_exception/**/*.jpeg
!gitignore_exception/**/*.png
!gitignore_exception/**/*.gif
!gitignore_exception/**/*.json

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env

# Ignore distribution / packaging
dist/
build/
*.egg-info/

# Ignore virtual environment folders
venv/
env/
ENV/

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore OS specific files
.DS_Store
Thumbs.db train_sam2/model.torch
train_sam2/model.torch
